<h2>Pick your Generation:</h2>
<mat-button-toggle-group vertical>
  <mat-button-toggle (click)="getRandomNumber(1)">
    <span>Generation 1</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(2)">
    <span>Generation 2</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(3)">
    <span>Generation 3</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(4)">
    <span>Generation 4</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(5)">
    <span>Generation 5</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(6)">
    <span>Generation 6</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(7)">
    <span>Generation 7</span>
  </mat-button-toggle>
</mat-button-toggle-group>
