h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}

mat-button-toggle-group {
    box-shadow: none;
    mat-button-toggle {
        background-color: rgb(173, 173, 173);
        font-family: 'Lato', sans-serif;
        color: white;
        width: 200px;
        margin-bottom: 10px;
    }
}

span {
    padding: 0 35px;
}

@media screen and (max-width: 1160px) {
  h2 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  mat-button-toggle-group {
    mat-button-toggle {
      width: 130px;
    }
  }

  span {
      padding: 0;
  }
}

@media screen and (max-width: 850px) {
  mat-button-toggle-group {
    width: 100%;
    mat-button-toggle {
      width: 100%;
    }
  }
}

@media screen and (max-width: 410px) {
  h2 {
    font-size: 12px;
  }
}