<h2>Pick your Generation:</h2>
<!-- <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(1)">Generation 1</label>
  </div>
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(2)">Generation 2</label>
  </div>
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(3)">Generation 3</label>
  </div>
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(4)">Generation 4</label>
  </div>
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(5)">Generation 5</label>
  </div>
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(6)">Generation 6</label>
  </div>
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(7)">Generation 7</label>
  </div>
</div> -->
<mat-button-toggle-group vertical>
  <mat-button-toggle (click)="getRandomNumber(1)">
    <span>Generation 1</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(2)">
    <span>Generation 2</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(3)">
    <span>Generation 3</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(4)">
    <span>Generation 4</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(5)">
    <span>Generation 5</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(6)">
    <span>Generation 6</span>
  </mat-button-toggle>
  <mat-button-toggle (click)="getRandomNumber(7)">
    <span>Generation 7</span>
  </mat-button-toggle>
</mat-button-toggle-group>
