<div *ngIf="!theError; else errorPresent">
  <h1 class="mainHeader">Who's That Pokémon!</h1>
  <div class="layout">
    <div class="generations">
      <h2>Pick your Generation:</h2>
      <!-- <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
        <div class="radio">
          <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(1)">Generation 1</label>
        </div>
        <div class="radio">
          <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(2)">Generation 2</label>
        </div>
        <div class="radio disabled">
          <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(3)">Generation 3</label>
        </div>
        <div class="radio disabled">
          <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(4)">Generation 4</label>
        </div>
        <div class="radio disabled">
          <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(5)">Generation 5</label>
        </div>
        <div class="radio disabled">
          <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(6)">Generation 6</label>
        </div>
        <div class="radio disabled">
          <label class="btn btn-secondary"><input type="radio" name="generation" (click)="getRandomNumber(7)">Generation 7</label>
        </div>
      </div> -->
      <mat-button-toggle-group vertical>
        <mat-button-toggle (click)="getRandomNumber(1)">
          Generation 1
        </mat-button-toggle>
        <mat-button-toggle (click)="getRandomNumber(2)">
          Generation 2
        </mat-button-toggle>
        <mat-button-toggle (click)="getRandomNumber(3)">
          Generation 3
        </mat-button-toggle>
        <mat-button-toggle (click)="getRandomNumber(4)">
          Generation 4
        </mat-button-toggle>
        <mat-button-toggle (click)="getRandomNumber(5)">
          Generation 5
        </mat-button-toggle>
        <mat-button-toggle (click)="getRandomNumber(6)">
          Generation 6
        </mat-button-toggle>
        <mat-button-toggle (click)="getRandomNumber(7)">
          Generation 7
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="display">
      <div class="containingDiv" *ngIf=currentPokemon>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" [style.width]= "getPercentage() + '%'" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="pokemonDisplay">
            <img class="thePokemon hidden" id="{{currentPokemon.id}}"src="{{currentPokemon.sprites.front_default}}" />
            <div *ngIf="showAnswerBool" class="theAnswer">
              <h3>{{currentPokemonName}}</h3>
            </div>
        </div>
      </div>
    </div>

    <div class="theGreeting" *ngIf="!currentGameState">
      <h2 class="greeting">Choose a Generation First!</h2>
    </div>

    <div class="interface">
      <div>
        <div *ngIf="currentPokemon && !showAnswerBool" class="hintBox">
          <button *ngIf="!theHint" id="hintButton" (click)="getHint()" class="btn btn-secondary btn-lg">Hint</button>
          <p class="theHint" *ngIf="theHint">Pokédex number: {{currentPokemonId}}</p>
          <p class="theHint" *ngIf="theHint">Type: {{theHint}}</p>
        </div>
      </div>
      <div>
        <div *ngIf="!currentPokemon && currentPokemonId">
          <div class="loading">Loading...</div>
          <img src="../../assets/loading{{gifNumber}}.gif" class="loadingGif"/>
        </div>
  
        <div *ngIf="currentPokemon && currentGameState !== 'gaveUp'">
          <h3>Make a guess</h3>
          <form (submit)="makeGuess(guess.value); $event.preventDefault()" class="form-inline theGuess">
            <input #guess id="guessInput" class="form-control">
            <button id="guessButton" type="submit" class="btn btn-primary">Guess</button>
          </form>
        </div>
  
        <div *ngIf="currentGameState === 'correctGuess'">
          <h3>Correct!</h3>
          <button id="theNextButton" (click)="nextPokemon()" class="btn btn-success nextButton">Next Pokémon</button>
        </div>
  
        <div *ngIf="currentGameState === 'incorrectGuess'">
          <p class="wrongGuesses" *ngIf="numberOfWrongs > 1">{{numberOfWrongs}} wrong guesses</p>
          <p class="wrongGuesses" *ngIf="numberOfWrongs === 1">{{numberOfWrongs}} wrong guess</p>
          <p>You can see the answer or guess again</p>
          <button (click)="showAnswer()" class="btn btn-info">Show Answer</button>
        </div>
  
        <div *ngIf="currentGameState === 'gaveUp'">
          <button (click)="gaveUpNext()" class="btn btn-success nextButton">Next</button>
        </div>
      </div>

      <div *ngIf="currentPokemon">
        <p class="theStreak">PokeStréak Counter!</p>
        <div *ngIf="numberOfRights > 0">
          <p class="theStreak" *ngIf="numberOfRights === 1">{{numberOfRights}} time right!</p>
          <p class="theStreak" *ngIf="numberOfRights > 1">{{numberOfRights}} times right!</p>
        </div>
      </div>
      

    </div>
  </div>
</div>

<ng-template #errorPresent>
  <app-error [errorMessage]="errorMessage" [theError]="theError"></app-error>
</ng-template>
