<div *ngIf="!theError; else errorPresent" class="theGame">
  <h1 class="mainHeader" [@rubberBand]="rubberBand">Who's That Pokémon!</h1>
  <div class="layout">
    <div class="generations">
      <app-generation-buttons (clickSender)="getRandomNumber($event)"></app-generation-buttons>
    </div>

    <div class="display">
      <div class="containingDiv" *ngIf=currentPokemon>

        <div class="pokemonDisplay">
            <img class="thePokemon hidden" id="{{currentPokemon.id}}" src="{{currentPokemon.sprites.front_default}}" />
            <div *ngIf="showAnswerBool" class="theAnswer">
              <h3>{{currentPokemonName}}</h3>
            </div>
        </div>
        <div class="progress" matTooltip="Progress to be a Pokémon Master" matTooltipPosition="above">
          <div class="progress-bar progress-bar-striped active" role="progressbar" [style.width]= "getPercentage() + '%'" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="theGreeting" *ngIf="!currentGameState">
      <h2 class="greeting" [@bounceInLeft]="bounceInLeft">Choose a Generation First!</h2>
    </div>

    <div class="interface">
      <div>
        <div *ngIf="currentPokemon && !showAnswerBool" class="hintBox">
          <app-hint [theHint]="theHint" (clickSender)="getHint()"></app-hint>
        </div>
      </div>
      <div class="guessBox">
        <div *ngIf="!currentPokemon && currentPokemonId">
          <div class="loading">Loading...</div>
          <img src="../../assets/loading{{gifNumber}}.gif" class="loadingGif"/>
        </div>

        <div *ngIf="currentPokemon && currentGameState !== 4">
          <app-make-guess (clickSender)="makeGuess($event)"></app-make-guess>
        </div>

        <div *ngIf="currentGameState === 2">
          <app-right-guess (clickSender)="nextPokemon()"></app-right-guess>
        </div>

        <div *ngIf="currentGameState === 3">
          <app-wrong-guess [numberOfWrongs]="numberOfWrongs" (clickSender)="showAnswer()"></app-wrong-guess>
        </div>

        <div *ngIf="currentGameState === 4">
          <button (click)="gaveUpNext()" class="btn btn-success nextButton">Next</button>
        </div>
      </div>

      <div *ngIf="currentPokemon" class="streakBox">
        <app-streak [numberOfRights]="numberOfRights"></app-streak>
      </div>

    </div>
  </div>
</div>

<ng-template #errorPresent>
  <app-error [errorMessage]="errorMessage" [theError]="theError"></app-error>
</ng-template>
