<div class="layout">
  <div class="generations">
    <h2>Pick your Generation:</h2>
    <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
      <div class="radio">
        <label class="btn btn-secondary"><input type="radio" name="generation" value=1 (click)="getRandomNumber(1)">Generation 1</label>
      </div>
      <div class="radio">
        <label class="btn btn-secondary"><input type="radio" name="generation" value=2 (click)="getRandomNumber(2)">Generation 2</label>
      </div>
      <div class="radio disabled">
        <label class="btn btn-secondary"><input type="radio" name="generation" value=3 (click)="getRandomNumber(3)">Generation 3</label>
      </div>
      <div class="radio disabled">
        <label class="btn btn-secondary"><input type="radio" name="generation" value=4 (click)="getRandomNumber(4)">Generation 4</label>
      </div>
      <div class="radio disabled">
        <label class="btn btn-secondary"><input type="radio" name="generation" value=5 (click)="getRandomNumber(5)">Generation 5</label>
      </div>
      <div class="radio disabled">
        <label class="btn btn-secondary"><input type="radio" name="generation" value=6 (click)="getRandomNumber(6)">Generation 6</label>
      </div>
      <div class="radio disabled">
        <label class="btn btn-secondary"><input type="radio" name="generation" value=7 (click)="getRandomNumber(7)">Generation 7</label>
      </div>
    </div>
  </div>

  <div class="display">
    <div class="containingDiv">
      <div class="pokemonDisplay" *ngIf=currentPokemon>
          <img class="hidden" id="{{currentPokemon.id}}"src="{{currentPokemon.sprites.front_default}}">
      </div>
    </div>
  </div>



  <div class="interface">
    <div *ngIf="!currentPokemonName">
      <h2 class="greeting">Choose a Generation First!</h2>
    </div>

    <div *ngIf="currentPokemonName">
      <h3>Make a guess</h3>
      <div>
        <input #guess id="guessInput">
        <button id="guessButton" (click)="makeGuess(guess.value)">Guess</button>
      </div>
    </div>

    <div *ngIf="madeCorrectGuess">
      <h3>Correct!</h3>
      <button>Next Pokemon</button>
    </div>

    <div *ngIf="madeIncorrectGuess">
      <h3>Wrong</h3>
      <p>You can see the answer or guess again</p>
      <button>Show Answer</button>
    </div>

    <div *ngIf="gaveUp">
      <button>Next</button>
    </div>

  </div>
</div>
