@font-face {
    font-family: 'pokemon';
    src: url('../../assets/pokemon-solid.woff') format('woff'), /* Modern Browsers */
         url('../../assets/pokemon-solid.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

$blue-border:
    -4px -4px 0 #3466AF,
    4px -4px 0 #3466AF,
    -4px 4px 0 #3466AF,
    4px 4px 0 #3466AF,
    5px 0 0 #3466AF,
    -5px 0 0 #3466AF,
    0 5px 0 #3466AF,
    0 -5px 0 #3466AF;

$yellow-border:
    -4px -4px 0 #FFCB05,
    4px -4px 0 #FFCB05,
    -4px 4px 0 #FFCB05,
    4px 4px 0 #FFCB05,
    5px 0 0 #FFCB05,
    -5px 0 0 #FFCB05,
    0 5px 0 #FFCB05,
    0 -5px 0 #FFCB05;

$hidden-color: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(100%);

.mainHeader {
    font-family: 'pokemon';
    text-align: center;
    color: #FFCB05;
    letter-spacing: 5px;
    text-shadow: $blue-border;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 70px;
}

.layout {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "generations theDisplay"
        "generations greeting"
        "generations interface";
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    padding: 5px 20px 20px 20px;
    .generations {
        grid-area: generations;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
        padding: 20px;
        height: 500px;
    }
    .display {
        grid-area: theDisplay;
        .progress {
            width: 710px;
            margin: 0 auto;
            margin-top: 10px;
        }
        .pokemonDisplay {
            background-image: url("../../assets/pokemon-background.png");
            background-size: contain;
            background-repeat: no-repeat;
            height: 400px;
            width: 710px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .thePokemon {
                width: 270px;
                margin-top: 50px;
                margin-left: 70px;
                transition: 0.5s;
            }
            .theAnswer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 100px;
                h3 {
                    font-size: 50px;
                    font-family: 'pokemon';
                    color: #3466AF;
                    letter-spacing: 3px;
                    text-shadow: $yellow-border;
                    -webkit-animation: rotation 0.5s; /* Safari, Chrome and Opera > 12.1 */
                    -moz-animation: rotation 0.5s; /* Firefox < 16 */
                    -ms-animation: rotation 0.5s; /* Internet Explorer */
                    -o-animation: rotation 0.5s; /* Opera < 12.1 */
                    animation: rotation 0.5s;
                }
            }
        }
    }
    .theGreeting {
        grid-area: greeting;
        letter-spacing: 5px;
    }
    .interface {
        grid-area: interface;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
          "hint guess streak";
        max-width: 800px;
        margin: 0 auto;
        .hintBox {
          grid-area: hint;
        }
        .guessBox {
          grid-area: guess;
        }
        .streakBox {
          grid-area: streak;
        }
    }
}

.hidden {
    -webkit-filter: $hidden-color;
    filter: $hidden-color;
    opacity: 1;
}

.greeting {
    text-align: center;
    font-size: 50px;
    font-family: 'pokemon';
    color: #FFCB05;
    letter-spacing: 3px;
    text-shadow: $blue-border;
}

.nextButton {
    width: 100%;
    margin-top: 35px;
}

.loading {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin-bottom: 30px;
}

.loadingGif {
    width: 270px;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
      opacity: 0;
  }
  100% {
      transform: rotate(360deg);
      opacity: 1;
  }
}

@-moz-keyframes rotation {
  0% {
      transform: rotate(0deg);
      opacity: 0;
  }
  100% {
      transform: rotate(360deg);
      opacity: 1;
  }
}

@-webkit-keyframes rotation {
  0% {
      transform: rotate(0deg);
      opacity: 0;
  }
  100% {
      transform: rotate(360deg);
      opacity: 1;
  }
}

@-ms-keyframes rotation {
  0% {
      transform: rotate(0deg);
      opacity: 0;
  }
  100% {
      transform: rotate(360deg);
      opacity: 1;
  }
}

@media screen and (max-width: 1160px) {
  .layout {
    grid-template-columns: 200px auto;
  }

  .greeting {
      font-size: 45px;
  }
}

@media screen and (max-width: 960px) {
  .layout {
    .display {
      .progress {
        width: 600px;
      }
      .pokemonDisplay {
        width: 600px;
        height: 350px;
        .theAnswer {
          h3 {
            font-size: 40px;
          }
        }
      }
    }
    .interface {
      max-width: 750px;
    }
  }

  .greeting {
      font-size: 40px;
  }
}

@media screen and (max-width: 850px) {
  .layout {
    grid-template-areas:
        "greeting"
        "generations"
        "theDisplay"
        "interface";
    grid-template-columns: 100%;
    .generations {
      height: 460px;
    }
    .display {
      padding-top: 10px;
      .pokemonDisplay {

        .thePokemon {
          width: 240px;
          margin-top: 35px;
          margin-left: 55px;
        }
      }
    }
    .interface {
      width: 670px;
    }
  }

  .mainHeader {
      font-size: 50px;
  }

  .greeting {
      font-size: 30px;
      margin: 10px auto;
  }
}

@media screen and (max-width: 720px) {
  .layout {
    .display {
      .progress {
        width: 400px;
      }
      .pokemonDisplay {
        width: 400px;
        height: 230px;
        .thePokemon {
          width: 140px;
          margin-top: 30px;
          margin-left: 50px;
        }
        .theAnswer {
          h3 {
            font-size: 23px;
          }
        }
      }
    }
    .interface {
      max-width: 400px;
      grid-gap: 5px;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "guess"
        "hint"
        "streak";
    }
  }

  .mainHeader {
      font-size: 40px;
  }

  .greeting {
      font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .layout {
    .display {
      .progress {
        width: 350px;
      }
      .pokemonDisplay {
        width: 350px;
        height: 200px;
        .thePokemon {
          width: 120px;
        }
        h3 {
          margin-top: 50px;
          font-size: 17px;
        }
      }
    }
    .interface {
      max-width: 370px;
      grid-gap: 5px;
      .loading {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .loadingGif {
          width: 230px;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .layout {
    .display {
      .progress {
        width: 300px;
      }
      .pokemonDisplay {
        width: 300px;
        height: 170px;
        .thePokemon {
          width: 100px;
          margin-left: 30px;
        }
        .theAnswer {
          h3 {
            font-size: 17px;
          }
        }
      }
    }
    .interface {
      max-width: 300px;
      grid-gap: 3px;
    }
  }

  .generations {
    height: 480px;
  }
}

@media screen and (max-width: 370px) {
  .layout {
    .display {
      .progress {
        width: 250px;
      }
      .pokemonDisplay {
        width: 250px;
        height: 150px;
        .thePokemon {
          margin-top: 10px;
          margin-left: 20px;
        }
      }
    }
    .interface {
      max-width: 250px;
      grid-gap: 3px;
    }
  }
}