.layout {
    display: grid;
    grid-template-areas:
        "generations theDisplay"
        "generations interface";
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    padding: 20px;
    .generations {
        grid-area: generations;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
        padding: 20px;
        height: 500px;
    }
    .display {
        grid-area: theDisplay;
        .pokemonDisplay {
            background-image: url("../../assets/pokemon-background.png");
            background-size: contain;
            background-repeat: no-repeat;
            height: 400px;
            width: 710px;
            margin: 0 auto;
        }
    }
    .interface {
        grid-area: interface;
        text-align: center;
    }
}

.greeting {
    text-align: center;
}

img {
    width: 270px;
    margin-top: 60px;
    margin-left: 70px;
    transition: 0.5s;
}

.theAnswer {
    display: inline;
    margin-left: 30px;
    h3 {
        display: inline;
    }
}

.hidden {
    -webkit-filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(100%);
    filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(100%);
    opacity: 1;
}