.layout {
    display: grid;
    grid-template-areas:
        "generations theDisplay"
        "generations interface";
    grid-template-columns: 200px auto;
    .generations {
        grid-area: generations;
    }
    .display {
        grid-area: theDisplay;
    }
    .interface {
        grid-area: interface;
    }
}