<h2>Pick your Generation:</h2>
<div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" value=1 (click)="createRandomNumber(1)">Generation 1</label>
  </div>
  <div class="radio">
    <label class="btn btn-secondary"><input type="radio" name="generation" value=2 (click)="createRandomNumber(2)">Generation 2</label>
  </div>
  <div class="radio disabled">
    <label class="btn btn-secondary"><input type="radio" name="generation" value=3 (click)="createRandomNumber(3)">Generation 3</label>
  </div>
  <div class="radio disabled">
    <label class="btn btn-secondary"><input type="radio" name="generation" value=4 (click)="createRandomNumber(4)">Generation 4</label>
  </div>
  <div class="radio disabled">
    <label class="btn btn-secondary"><input type="radio" name="generation" value=5 (click)="createRandomNumber(5)">Generation 5</label>
  </div>
  <div class="radio disabled">
    <label class="btn btn-secondary"><input type="radio" name="generation" value=6 (click)="createRandomNumber(6)">Generation 6</label>
  </div>
  <div class="radio disabled">
    <label class="btn btn-secondary"><input type="radio" name="generation" value=7 (click)="createRandomNumber(7)">Generation 7</label>
  </div>
</div>