.wrongGuesses {
    margin-bottom: 0;
    font-size: 25px;
}

.showAnswerButton {
  width: 100%;
}

@media screen and (max-width: 720px) {
  .wrongGuesses {
    font-size: 20px;
  }
  p {
   font-size: 13px;
 }
}
