html {
    min-width: 1000px;
    overflow-y: scroll;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}