@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    min-width: 1000px;
    overflow-y: scroll;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

html::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}